PORT=5000
GEMINI_API_KEY=AIzaSyD2yHNCVFnpE89RPljuPREnfPBUIWDkNh8
GOOGLE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbwoTyrVBISNHwZB3JjvVr_jR0T-UCGgz4doTGWDf6VjQKi6yEH9tEN2UByskEacJisX/execour_google_apps_script_url_here
